Email_Management.json
{
  "name": "Email Management",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5 * * * *"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        600
      ],
      "id": "29d12298-44bb-4adc-b40c-7b662ac05277",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.Subject }}\nEmail body: {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promotions",
              "description": "This is any email looking to sell me any product or service"
            },
            {
              "category": "Social",
              "description": "Any email from a social media site like YouTube, Facebook, X, Tiktok and Instagram"
            },
            {
              "category": "Personal",
              "description": "An email sent from a friend or a family members or something personal to me outside of work"
            },
            {
              "category": "Sales",
              "description": "Any data or email regarding clients sending over documents, sales, etc"
            },
            {
              "category": "Recruitment",
              "description": "Any reply from the jobs i have applied or anyone looking for a job, or to join our team"
            },
            {
              "category": "Receipts",
              "description": "These are transaction emails for receipts with or without attachment"
            },
            {
              "category": "Misc",
              "description": "Anything that doesn't fall within the other categories"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -380,
        600
      ],
      "id": "be6a9d87-afda-47a1-af3a-ac60cb189312",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4,
        200
      ],
      "id": "30803d24-4420-47af-bf68-f08cab67e223",
      "name": "Social",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        294,
        0
      ],
      "id": "04309128-e41a-426f-955d-87a92f0422dd",
      "name": "Gmail",
      "webhookId": "2d2d23a1-58e2-4eaf-b528-0198bb7513ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at summarizing emails",
              "role": "system"
            },
            {
              "content": "=Subject: {{ $('Gmail Trigger').item.json.Subject }}\nEmail body: {{ $('Gmail Trigger').item.json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        216,
        200
      ],
      "id": "94cd20ab-c939-4392-b64a-43595ba5eacf",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IaDTN5hYPGYTD2in",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1C4d-exVMv7Oi_tXLpsTAZAK2Sktk9Z_4mNgAfllM4TQ",
          "mode": "list",
          "cachedResultName": "Email Management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C4d-exVMv7Oi_tXLpsTAZAK2Sktk9Z_4mNgAfllM4TQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C4d-exVMv7Oi_tXLpsTAZAK2Sktk9Z_4mNgAfllM4TQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Gmail Trigger').item.json.id }}",
            "Date": "={{ $now }}",
            "Subject Line": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Summary": "={{ $json.message.content }}",
            "Snippet": "={{ $('Gmail Trigger').item.json.threadId }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject Line",
              "displayName": "Subject Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        592,
        200
      ],
      "id": "ca502958-b5f8-4929-bb3b-d9bb582ed038",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TffQXkhDJ2kyWtk8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.subject_line }}",
        "message": "={{ $json.message.content.email_body }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        400
      ],
      "id": "54f91c97-1a05-463d-ac6f-b1fed02bd601",
      "name": "Gmail1",
      "webhookId": "86efad7a-a4f4-432f-a990-db236b59161f",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at replying to emails. Please sign off on all emails as follows:\n\"Best Regards,\nSuneel\"\n\nAlso separate paragraphs by lines breaks.",
              "role": "system"
            },
            {
              "content": "=Heres the email to reply to:\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nEmail body: {{ $('Gmail Trigger').item.json.snippet }}\nThis email is from: {{ $('Gmail Trigger').item.json.From }}"
            },
            {
              "content": "Please format the data in JSON format:\n{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        216,
        400
      ],
      "id": "fec2d076-2db2-4352-b9e1-50ca0a4b549a",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "IaDTN5hYPGYTD2in",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=aifirstlink@gmail.com",
        "subject": "=FORWARDED: {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "=FORWARDED: {{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        294,
        1000
      ],
      "id": "ecfbeed0-ecd9-4e91-8ee1-545f0559a4d3",
      "name": "Gmail2",
      "webhookId": "86efad7a-a4f4-432f-a990-db236b59161f",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at replying to sales emails. Please sign off on all emails as follows:\n\"Regards,\nSuneel\"\n\nAlso separate paragraphs by lines breaks.",
              "role": "system"
            },
            {
              "content": "=Heres the email to reply to:\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nEmail body: {{ $('Gmail Trigger').item.json.snippet }}\nThis email is from: {{ $('Gmail Trigger').item.json.From }}"
            },
            {
              "content": "Please format the data in JSON format:\n{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        216,
        600
      ],
      "id": "9acc81a7-be3b-46d3-bc0c-88c2480df245",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "IaDTN5hYPGYTD2in",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.message.content.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        600
      ],
      "id": "6c753cc0-0455-4591-b48e-9b26b89f39cc",
      "name": "Gmail3",
      "webhookId": "f2533aba-c489-4dd6-aaae-3f341ea09f0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -292,
        820
      ],
      "id": "ae081961-2bd6-44a1-ad85-e86e6a14010a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "IaDTN5hYPGYTD2in",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4,
        0
      ],
      "id": "c80774c2-b47f-4756-b847-b642d218358d",
      "name": "Promotions",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2750518775353483320"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4,
        400
      ],
      "id": "a8a12cb6-826b-48a0-af14-e052b8e1993c",
      "name": "Personal",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_9093425880639079056"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4,
        600
      ],
      "id": "2e63cebd-e3a4-42aa-a1a5-28a87f3b7e4a",
      "name": "Sales",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6028289483376890344"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4,
        800
      ],
      "id": "e8be22ef-c1a1-48af-919c-021d0e7ee13a",
      "name": "Recruitment",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6104253795569672932"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4,
        1000
      ],
      "id": "8c6ac86e-006e-4ab6-94a5-54f7f8ad03e1",
      "name": "Receipts",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4704675443450905433"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4,
        1200
      ],
      "id": "6a8e747f-80aa-4edc-a3b9-b91e7e255cce",
      "name": "Misc",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0S38m5d8TPOef9I",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Promotions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recruitment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Receipts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Misc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Promotions": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipts": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4a0fb71-fb41-4d91-a52d-aba3a9bf30b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86dcbb4ced649bd63f438befba75382911afca799a7e347e1af0f88b34e0e514"
  },
  "id": "zqPCRmk6MEcJTp0g",
  "tags": []
}